.home {   
    //border: 1px solid red;
    height: fit-content;   
    background-color: rgb(255, 228, 211);
    padding-bottom: 8px;
    // @media (min-width: $desktop-min) and (max-width: $desktop-max) {
  
    // }     
    // @media (min-width: $tablet-min) and (max-width: $tablet-max) {

    // }     
    @media (max-width: $mobile-max) {
        background-color: white;
    }  
}
.home__container {
    margin-bottom: 32px;
    position: relative; 
    //border: 3px solid blue;
    height: 100%;
    // @media (min-width: $desktop-min) and (max-width: $desktop-max) {

    // }     
    // @media (min-width: $tablet-min) and (max-width: $tablet-max) {

    // }     
    // @media (max-width: $mobile-max) {

    // }      
}
.home__container img {
    width: 100%;
    height: 100%;
    @media (min-width: $desktop-min) and (max-width: $desktop-max) {

    }     
    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        height: auto;
    }     
    @media (max-width: $mobile-max) {
        height: auto;
    }     
}
.home__content {
    //border: 1px solid yellow;
    position: absolute;
    left: 0;
    top: 128px;
    width: 35%;
    color: $white;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    padding: 32px;   
    p:not(:last-child) {
        margin-bottom: 16px;
    }  
    @media (min-width: $desktop-min) and (max-width: $desktop-max) {
        width: 45%;
        top: 96px;
    }     
    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        width: 55%;
        top: 64px;
        font-size: 17px;
    } 
    @media (max-width: $mobile-max) {
        width: 55%;
        top: 48px;
        font-size: 12px;
        padding: 16px;
        p:not(:last-child) {
            margin-bottom: 8px;
        } 
        p:last-child {
            display: none;
        }
    }      
}
.home__link {
    //border: 3px solid red;
    width: 100%;
    position: absolute;
    padding: 16px 32px 48px;
    right: 0;
    bottom: 0;
    text-align: end;
    // @media (min-width: $tablet-min) and (max-width: $tablet-max) {
    //     position: static;
    //     width: 100%;
    //     padding: 16px 16px 32px;   
    // } 
    @media (max-width: $mobile-max) {
        position: static;
        width: 100%;
        padding: 16px 16px 16px;   
    }     
}
.home__link a {
    background: linear-gradient(to left, rgba(0,0,0,.5),
                rgba(0,0,0,.1) 50%, rgba(0,0,0,.5)),
                linear-gradient(rgb(0, 90, 129), rgb(0, 128, 183), rgb(1, 89, 128));
    background-size: 100% 100%, auto;
    background-position: 50% 50%;
    box-shadow: inset rgb(0, 125, 187) 0 -1px 1px, inset 0 1px 1px rgb(0, 129, 184), rgb(0, 78, 112) 0 0 0 1px, #000 0 10px 15px -10px;
    transition: 0.2s;
    border-radius: 4px;

    width: fit-content;
    font-size: 20px;    
    color: $white;  
    padding: 16px 32px;
    &:hover {
        background-size: 140% 100%, auto;
    }  
    &:active {
        bottom: 33px;
        color: #ffdead;
        box-shadow: inset #ebab00 0 -1px 1px, inset 0 1px 1px #ffbf00, #cc7722 0 0 0 1px, 0 10px 10px -9px #000;
    }      
    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        font-size: 16px;
        width: fit-content;
        padding: 16px 32px;
    } 
    @media (max-width: $mobile-max) {
        display: block;
        font-size: 18px;
        width: 100%;
        padding: 24px 0;
        text-align: center;
    }      
}

.home__description {
    background-color: #fff;
    //border: 1px solid red;
    box-shadow: 1px 2px 6px 3px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    max-width: 700px;
    text-align: justify;
    margin: 0 auto;
    padding: 96px 64px 128px;
    p {
        margin-bottom: 16px;
    }
    h3 {
        text-align: center;
        font-style: italic;
        margin-bottom: 16px;
    }
    ul {
        list-style: disc;
        padding-left: 32px;
        margin-bottom: 16px;
    }
    ul li {
        margin-bottom: 6px;
    }
    // @media (min-width: $desktop-min) and (max-width: $desktop-max) {

    // }     
    // @media (min-width: $tablet-min) and (max-width: $tablet-max) {

    // }     
    @media (max-width: $mobile-max) {
        padding: 16px;
        border-radius: 0;
        box-shadow: none;        
    }
}
.home__description-header {
    text-align: center;
}
.home__description-slogan {
    background-color: rgb(255, 124, 10);
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 8px 8px 0;
    color: #000;
    margin-bottom: 48px;
}
.home__description-price {
    color: rgb(34, 86, 141);
    font-weight: bold;
    //text-indent: 30px;
}
.home__description-deadline {
    text-decoration: underline;
    font-weight: bold;
}
.note {
    background-color: rgb(242, 0, 255);
    padding: 8px;
    color: white;
}