.nav-panel {  
    position: fixed;
    top: 0;
    left: 0;
    height: 64px;
    width: 100%;
    z-index: 2;
}
.nav-panel__container {
    background: rgb(2, 75, 107);
    height: 100%;
    box-shadow: inset 0px -3px 4px rgb(0, 45, 65, 0.7),
                0px 2px 2px 0px rgb(0, 45, 65, 0.2);
    max-width: $wrap; 
    @include flex(space-between, center);
    margin: 0 auto;
    padding: 0 32px;
    transition: 0.5s;
    &.transparent {
        transition: 0.5s;
        background: transparent;
        box-shadow: none;        
    }
    @media (min-width: $desktop-min) and (max-width: $desktop-max) {

    }     
    @media (min-width: $tablet-min) and (max-width: $tablet-max) {

    } 
    @media (max-width: $mobile-max) {
        padding: 16px;
    }     
}
.nav-panel__home {
    @include flex(center, center);   
    z-index: 1; 
    cursor: pointer;
    @media (max-width: $mobile-max) {
        background-image: url('../img/svg/home.svg');
        background-repeat: no-repeat;
        background-position: center;
        width: 32px;
        height: 32px; 
    }     
    &:active {
        box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
    }  
}

.nav-panel__home a {
    font-size: 20px;
    color: $white;  
    transition: 0.3s;      

    @media (min-width: $mobile-max) {
        &:hover {
            color: $yellow;
        } 
    }      
    @media (max-width: $mobile-max) {
        color: transparent;
    }        
}

.nav-panel__list { 
    @include flex(center, center);
    @media (max-width: $mobile-max) {
        background-color: rgb(2, 75, 107);
        flex-direction: column;  
        justify-content: center;        
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        margin-top: -100vh;
        transition: margin-top 0.5s;    
        &.active {
            display: flex;
            margin-top: 0;            
        }
    }  
}
.nav-panel__item {
    margin: 0 25px;

    @media (min-width: $desktop-min) and (max-width: $desktop-max) {
        margin: 0 20px;
    }     
    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        margin: 0 10px;
    } 
    @media (max-width: $mobile-max) {
        text-align: center;
        margin: 0;
        margin-bottom: 32px;
        border-bottom: 1px solid white;
    }    
}
.nav-panel__item a {
    color: $white;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s;      
    &:hover {
        color: $yellow;
    }
    @media (min-width: $desktop-min) and (max-width: $desktop-max) {
        font-size: 17px;
    }     
    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        font-size: 14px;
    } 
    @media (max-width: $mobile-max) {
        font-size: 30px;
        font-weight: 400;
    }     
}
.nav-panel__menu-btn {
    display: none; 
    @media (max-width: $mobile-max) {
        z-index: 4;
        cursor: pointer;
        content: '222';
        display: block;
        width: 32px;
        height: 32px;
        background-image: url('../img/svg/menu_btn.svg');
        background-repeat: no-repeat;
        &.active {
            background-image: url('../img/svg/menu_close_btn.svg');  
            background-repeat: no-repeat;              
        } 
    }        
}