.participants { 
    background-color: rgb(255, 228, 211);
    padding: 48px 32px 32px;
    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        padding: 48px 16px 16px;  
        font-size: 14px; 
    }
    @media (max-width: $mobile-max) {
        font-size: 13px;
        padding: 48px 16px 16px;
    }
}
.participants__container {
    width: fit-content;
    margin: 0 auto;
    list-style: none;
    @media (max-width: $mobile-max) {
        padding-left: 14px;
    }    
}
.participants__container ol {
	list-style-type: none; 
	counter-reset: num;
	margin: 0 0 0 20px;         
}
.participants__container ol li {
	position: relative;	
    font-size: 16px;
    font-weight: 400;
    border-bottom: 1px dotted #00b903; 
    padding: 6px 0;
    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        font-size: 16px;
    }     
    @media (max-width: $mobile-max) {
        font-size: 16px;
    }          
}
.participants__container ol li:before {
	content: counter(num) '.'; 
	counter-increment: num;
	display: inline-block;	
	position: absolute;
	top: 5px;
	left: -26px;
	width: 20px;    
	color: #00b903;
    font-weight: 500;
	text-align: right;
}
.participants__item {
    font-size: 16px;
    margin-bottom: 16px;
}

.participants-table {
    //background-color: #fff;
    border-collapse: collapse;
    border: 2px solid rgba(0, 128, 0, 1);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
    &.bg-white {
        background-color: #fff;
    }
}
.participants-table__row td {
    border: 1px solid rgba(0, 128, 0, 0.2); 
    border-bottom: 1px solid rgba(0, 128, 0, 0.9);  
    padding: 6px 16px;
    font-size: 15px;
}
.participants-table__number {
    color: green;
}