.recomendations { 
    //background-color: rgb(255, 228, 211);
    padding: 48px 32px 32px;
    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        padding: 48px 16px 16px;  
        font-size: 14px; 
    }
    @media (max-width: $mobile-max) {
        font-size: 13px;
        padding: 48px 16px 16px;
    }
}

.recomendations__list {
    list-style: disc;
    padding-left: 32px;
}
