.requirements {
    border: 3px solid red;
    padding: 32px;
}
.requirements__title {
    margin-bottom: 32px;
}
.requirements__list {
    list-style-type: disc;
    padding: 0 32px;
}
.requirements__item {
    margin-bottom: 16px;
}
.requirements__item-attributes p {
    margin: 32px 0 32px;
}
.requirements__item-order p {
    margin: 32px 0 32px;
}

.requirements__item-attributes,
.requirements__item-order ul li {
    text-align: center;
    font-weight: 700;
    font-style: italic;
    u {
        color: rgb(144, 0, 255);
        font-style: none;
    }
}
.requirements__item-order ul li {
    text-align: center;
    font-weight: 400;
    font-style: normal;
    u {
        color: rgb(144, 0, 255);
        font-style: none;
    }
}
