.to-do { 
    padding: 64px 32px 32px;
    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        padding: 64px 16px 16px;  
        font-size: 14px; 
    }
    @media (max-width: $mobile-max) {
        font-size: 13px;
        padding: 64px 16px 16px;
    }
}
.to-do__container {
    //border: 2px solid red;
}
.to-do__title {
    font-style: italic;
    color: rgb(53, 111, 172);
    border-top: 1px solid rgb(53, 111, 172);
    border-bottom: 1px solid rgb(53, 111, 172);
    width: 70%;
    margin: 0 auto;
    padding: 16px 0;
    margin-bottom: 32px;
    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        width: 80%;
    }
    @media (max-width: $mobile-max) {
        width: 100%;
        padding: 12px 0;        
        font-size: 15px;
    }    
}