/* ---- screen sizes ---- */
$desktop-max: 1439px;
$desktop-min: 1024px;
$tablet-max: 1023px;
$tablet-min: 768px;
$mobile-max: 767px;

$roboto: 'Roboto', serif;
$white: #fff;
$color: rgb(41, 65, 95);
$text: 18px;
$wrap: 1120px;
$yellow: #e8c300;
