/* ---- screen sizes ---- */
$desktop-max: 1439px;
$desktop-min: 1024px;
$tablet-max: 1023px;
$tablet-min: 768px;
$mobile-max: 767px;

$roboto: 'Roboto', serif;
$white: #fff;
$color: rgb(41, 65, 95);
$link-color: rgb(35, 35, 176);
$text: 18px;
$wrap: 1440px;
$container: 1230px;
$mc: 0 auto;
$yellow: #e8c300;
$gray: #e5e5e5;
$tabs: #333;
$tabs-opacity: rgba(51, 51, 51, 0.2);
$white-opacity: rgba(255, 255, 255, 0.5);
$black-opacity: rgba(0, 0, 0, 0.5);
$gray-opacity: rgba(51, 51, 51, 0.5);